#root {
  padding: 0px !important;
}
.cuadro {
  background-color: #e6e6e6;
  width: auto;
}
body {
  margin: 0;
  display: block;
}
.film {
  background-color: #d9d9d9;
  margin-bottom: 5px;
  padding: 5px;
  font-weight: 600;
  text-align: center;
}

p {
  margin: 0px;
  font-family: "Segoe UI";
}

ul {
  padding: 5px 5px 5px 5px;
}
.navbar{
  width: 100px;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  padding: 10px;
  border-bottom: 1px solid #ccc;    
}


