#root {
  font-family: "Segoe UI";
}

.cuadro {
  width: auto;
}

body {
  margin: 0px;
  display: block;
  height: 100%;
  background-color: #fff2e6;
}

.film {
  background-color:  #ffd9b3;
  margin-bottom: 5px;
  color: #662900 ;
  border-radius: 5px;
  font-weight: 600;
  text-align: center;
  box-shadow: 1px 1px 0px 1px #ff944d;
}

.title {
  font-size: 1.2em;
  color: #662900;
}

.propiedad-valor {
  font-weight: 400;
  color: #993d00 ;
}

.propiedad {
  justify-content: center;
  padding: 5px;
}

ul {
  padding: 5px;
}

.navbar{
  width: 140px;
  text-align: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.menu {
  justify-content: center;
  align-items: center;
  background-color: #ff944d;
  border-bottom: 1px solid #ccc;  
  padding-top: 10px;
  padding-bottom: 10px; 
}

.desplegable {
  background-color: #ffcc99;
  padding: 5px;
  border-radius: 0px 0px 5px 5px;
}

.css-1hakw0l {
  margin-left: 0px !important;
}

p {
  margin: 0px;
  padding: 5px;
}

input {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #595959 !important;
  height: 25px;
  width: 270px;
  margin-left: 10px;
}

.customers{
  display: flex;
  justify-content: center;
}

.form-container {
  width: 1000px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center !important;
  padding-top: 30px;
  gap: 10px 20px; /* row-gap column gap */
  row-gap: 10px;
  column-gap: 10px;
  flex-flow: row wrap;
}

.form-label {
  font-weight: 500;
  font-size: 14px;
  display: block;
  text-align: left;
  margin-left: 10px;
}
.form-input {
  width: 300px;
  margin-right: 0px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: white;
}

.boton-guardar-cliente {
  width: 200px;
  height: 40px;
  background-color: #4CAF50;
  margin-top: 10px;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 2px 2px 0px 1px #008000;
  cursor: pointer;
}

.error{
  font-size: 11px;
  color: red;
}

.selectCity {
  width: 280px;
  height: 37px;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  color: #595959 !important;
  margin-left: 10px;
}

.selectCountry {
  font-size: 14px;
  border-color: #ccc;
  color: #595959 !important;
  text-align: left;
}

.rental-item {
  background-color:  #ffd9b3;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 0px 1px #ff944d;
  color: #662900 ;
  cursor: pointer;
}

.rental-headers {
  font-weight: bold;
  padding: 10px 10px 0px 10px;
}
.rental-label-15 {
  width: 15%;
  text-align: left;
}
.rental-label-25 {
  width: 25%;
  text-align: left;
}

.rental-desplegable {
  background-color: #ffcc99;
  border-radius: 0px 0px 5px 5px;
  margin-top: 5px;
  width: 100%;
}

.rental-customer-info{
  width: 50%;
  align-items: start;
}

.font-500 {
  font-weight: 500;
}

.rental-div-delete{
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.rental-button {
  background-color: red !important;
  width: fit-content;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  box-shadow: 1px 1px 0px 1px #990000;
}

.films-list{
  align-items: center; 
  justify-content: space-around; 
  margin-top: 20px; 
  margin-right: 20px; 
  margin-left: 20px;
}

.box-style {
  width: 200px;
  height: 70px;
  margin-top: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  background-color: white;
}

.background-white {
  background-color: white;
}

.style-title-filter {
  font-size: 18px;
  text-align: center;
  color: black;
}

.box-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.property-film-first {
  justify-content: center;
  width: 100%;
}
.film-container {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-size: 16px;
}

.film-category {
  background-color: #662900;
  height: -webkit-fill-available;
  border-radius: 5px 0px 0px 5px;
  width: 15%;
  color: white;
  text-align: center;
}

.film-cost {
  width: 15%;
  justify-content: end;
}

.info-film-container {
  align-items: center;
  padding-right: 10px;
  justify-content: space-between;
  width: 75%;
}

.film-last-properties {
  width: 100%;
}

.film-last-properties-division {
  align-items: center;
  width: 50%;
}

.rental-container {
  align-items: center;
  justify-content: space-between;
  width: 25%;
  background-color: #ff944d;
  padding: 15px;  
  border-radius: 5px;
}

.button-rental {
  font-size: 20px;
  padding: 10px 20px;
  color: white;
  background-color: #cc5200;
  border: none;
  box-shadow: 2px 2px 0px 1px #803300;
  border-radius: 5px;
  cursor: pointer;
}

.container-filter-rent {
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.errors-form-customer {
  justify-content: center;
  margin-top: 10px;
  align-items: center;
}

.button-form-customer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.info-customer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.info-customer-text {
  margin-top: 20px;
  font-size: 15px;
}